#slider {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-ui-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.slide-ui-wrapper p, svg {
    margin: 0px 10px 0px 0px;
}
.slide-ui-wrapper span {
    max-width: 150px;
    word-break: break-all;
}

.slide-ui-wrapper p, .slide-ui-symbol {
    font-size: 24px;
    font-weight: 800;
}

@media screen and (max-width: 600px) {
    #slider {
        flex-direction: column-reverse;
    }
}
